page-premios {
  font-family: 'Bariol'
}

/* Parte 1 - Encabezado*/

/* Header Titulo */
.pmsHTitle{
  text-align: center !important;
  font-size: 15px;
}

.pmsHTitle img{
  width: 75px;
  margin-left: 60px;
}

/* Header Icono */
.pmsHIcon{

}

/* Bloque 1 */

.codigoBoton{
  background-color: #9C28B0;
  border-radius: 10px;
  font-family: "Bariol";
}

.titulo1{
  text-align: center;
  color: #263147;
}

.cardTit{
  font-weight: bold !important;
}

.cardDesc{
  color: #D2D3D4 !important;
}
