page-puntos {

}

/* Parte 1 - Encabezado*/

/* Header Titulo */
.ptsHTitle{
  text-align: center !important;
  font-size: 15px;
}

.ptsHTitle img{
  width: 75px;
  margin-left: 60px;
}

/* Header Icono */
.ptsHIcon{

}
